# Ignore virtual environment directory
venv
*.log

*.tar.xz
# Ignore HDF5 files
*.HDF5
*.hdf5
*.H5
*.h5
*.he5
*.HE5

# Ignore PNG files
# *.png

ACL_DIRS/AURA_DATA_VC/OMSNO2_0.1x0.1_200501_SPv3.csv

#Ignore also .dcm file
*.dcm

#ignore the .DS_Store files
.DS_Store
**.DS_Store
# .pdf
# **.pdf

# Ignore Python cache
**/__pycache__/

**/tracking_file/

# **/error_categorization_evaluation_result/previous_results/
**/models/**
# Ignore generated python code from the experiment
# **/prompting_techniques/llm_rag_generated_python_scripts/

ACL_DIRS/ASF/**
ACL_DIRS/AURA_DATA_VC/**
ACL_DIRS/GES_DISC/**
ACL_DIRS/ICESat_2/**
ACL_DIRS/LAADS/**
ACL_DIRS/LaRC/**
ACL_DIRS/LP_DAAC/**
ACL_DIRS/NSIDC/**
ACL_DIRS/PO_DAAC/**

# generated user sub-queries
user_queries/generated_user_sub_queries/**
user_sub_query_generation_logs/**

# python scripts generation
llm_rag_python_scripts_generation_logs/**

# data files
fastMri/data_files/**
MatPlotAgent/data_files/**

# python scripts
NASA_EOS/llm_rag_generated_python_scripts/non_iterative/**
NASA_EOS/llm_rag_generated_python_scripts/iterative_error_resolve/**
# evaluation files
NASA_EOS/evaluation_results/iterative_error_resolve/**
NASA_EOS/evaluation_results/non_iterative/**
# logs
NASA_EOS/python_scripts_generation_logs/**

# python scripts
MatPlotAgent/llm_rag_generated_python_scripts/non_iterative/**
MatPlotAgent/llm_rag_generated_python_scripts/iterative_error_resolve/**
# evaluation files
MatPlotAgent/evaluation_results/iterative_error_resolve/**
MatPlotAgent/evaluation_results/non_iterative/**

# python scripts
fastMri/llm_rag_generated_python_scripts/iterative_error_resolve/**
fastMri/llm_rag_generated_python_scripts/non_iterative/**
# evaluation files
fastMri/evaluation_results/iterative_error_resolve/**
fastMri/evaluation_results/non_iterative/**


VTK/**
proof_of_concepts/**