h5py
requests
rapidfuzz
Levenshtein
pandas
faiss-cpu
sentence_transformers
bs4


torch
torchvision
scipy
Pillow
scikit-learn
faiss-cpu
numpy
sentence-transformers
h5py
matplotlib
basemap
torchvision
scikit-image
opencv-python